<app-layouts>
    <div class="flex flex-col">
        <div class="flex flex-col mt-12 w-screen h-screen mr-5 ml-5">
            <div class="grid grid-cols-3 w-full h-full mt-10">
                <div class="gambar">
                    <div class="flex flex-col w-full h-full p-3">
                        <img src="../../../assets/images/batikgreyscale.jpg" alt="">
                        <div class="flex flex-row mt-3 p-3 w-full h-1 gap-3">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                            <img src="../../../assets/images/beautyofbatik2.jpg" class="w-16 h-16" alt="">
                        </div>
                    </div>

                </div>
                <div class="deskripsi">
                    <div class="flex flex-col w-full h-full p-3">
                        <p class="font-bold text-5xl">Batik Kemeja XL</p>
                        <p class="text-lg text-gray-400">Terjual 100+</p>
                        <p class="font-bold text-5xl my-4">Rp 789.000</p>
                        <p class="font-semibold text-2xl mt-5 mb-3">Pilihan Warna:</p>
                        <div class="grid grid-cols-3 gap-3 text-center">
                            <div class="flex flex-row h-full items-center justify-center w-full border">
                                <div
                                    class="card cursor-pointer w-full h-full border rounded-xl border-green-400 items-center">
                                    <p>Gray</p>
                                </div>
                            </div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Blue</div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Green</div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Midnight
                            </div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Teal</div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Black</div>
                            <div class="card cursor-pointer w-full h-14 border rounded-xl border-green-400">Black</div>
                        </div>
                        <div class="flex flex-row w-full border-b p-3 mt-4">
                            <p class="font-semibold text-lg text-gray-700">Detail</p>
                        </div>
                        <p class="description">Kondisi : Baru</p>
                        <p class="description">Min Pemesanan: 1 Pcs</p>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
                            distinctio
                            repellendus nihil soluta doloribus assumenda sit ratione sint, iste molestias.</p>
                    </div>
                </div>
                <div class="invoice">
                    <div class="flex flex-col w-full h-max p-3">
                        <div class="card-body w-full h-full relative rounded-xl shadow-md mr-5 border-gray-500">
                            test
                            <div class="flex flex-row w-full h-auto gap-3 items-center">
                                <div class="custom-number-input h-10 w-32">
                                    <div class="flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1">
                                        <button (click)="decrement($event)" [disabled]="qty_value == 1"
                                            data-action="decrement"
                                            class=" bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-l cursor-pointer outline-none">
                                            <span class="m-auto text-2xl font-thin">−</span>
                                        </button>
                                        <input type="number"
                                            class="outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold text-md hover:text-black focus:text-black  md:text-basecursor-default flex items-center text-gray-700  outline-none"
                                            name="custom-input-number" [value]="qty_value">
                                        <button (click)="increment($event)" data-action="increment"
                                            class="bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 rounded-r cursor-pointer">
                                            <span class="m-auto text-2xl font-thin">+</span>
                                        </button>
                                    </div>
                                </div>
                                <p class="text-gray-400 text-lg">Stok : 100</p>
                            </div>

                            <div class="flex flex-row justify-between w-full h-full mt-5 p-3">
                                <p class="text-gray-400 text-2xl">Subtotal</p>
                                <p class="text-4xl">Rp. {{subtotal}}</p>
                            </div>
                            <div class="flex flex-row mt-3 w-full h-auto items-center">
                                <button
                                    class="w-full rounded-sm border-gray-500 h-16 bg-gray-800 hover:bg-gray-500 transition-all duration-100">
                                    <p class="text-2xl text-white">+ Keranjang</p>
                                </button>
                            </div>
                            <div class="flex flex-row mt-3 w-full h-auto items-center">
                                <button
                                    class="w-full rounded-sm border border-gray-500 h-16 hover:bg-gray-200 transtion-all duration-100">
                                    <p class="text-2xl ">Beli</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</app-layouts>