.styled-text {
    font-weight: bold;
    font-size: 3rem; /* Default size, adjust as needed */
    color: rgb(51, 51, 51); /* Make the text color transparent */
    background-image: url('../../../assets/images/batik.jpeg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the text */
    background-clip: text; /* Clip the background to the text */
    -webkit-background-clip: text; /* For WebKit compatibility */
    -webkit-text-fill-color: transparent; /* Make text fill transparent for WebKit */
    text-align: center; /* Adjust text alignment as needed */

  }


  
  .text-gray-600 {
    color: #4a5568; /* Tailwind color for gray-600 */
  }