.rate:not(:checked) > input {
  display: none;
  }
  
  .rate:not(:checked) > label {
    float: left;
    cursor: pointer;
    font-size: 30px;
    fill: #666;
  }
  
  
  .rate:not(:checked) > label > svg {
    fill: #666; /* Set default color for SVG */
    transition: fill 0.3s ease; /* Add a transition effect */
  }
  
  .rate > input:checked + label:hover,
  .rate > input:checked + label:hover ~ label,
  .rate > input:checked ~ label:hover,
  .rate > input:checked ~ label:hover ~ label,
  .rate > label:hover ~ input:checked ~ label {
    fill: #e58e09;
  }
  
  .rate:not(:checked) > label:hover,
  .rate:not(:checked) > label:hover ~ label {
    fill: #ff9e0b;
  }
  
  .rate > input:checked ~ label > svg {
    fill: #ffa723; /* Set color for selected stars */
  }
  