<app-layouts>
    <div class="flex flex-col h-screen">
        <div class="flex flex-col w-screen h-screen mt-20 p-3 ">
            <div class="flex flex-row w-full h-auto">
                <div class="w-8/12 m-3">
                    <div class="list-chart h-auto border w-full my-3 p-3 mx-7 mr-5">
                        <div class="flex flex-row w-full h-full p-3 items-center gap-3">
                            <table class="min-w-full border-collapse block md:table">
                                <thead class="block md:table-header-group">
                                    <tr class="border border-gray-200 md:border-none md:table-row">
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">#</th>
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">Produk
                                        </th>
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">qty</th>
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">harga</th>
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">total</th>
                                        <th class="bg-gray-100 p-2 text-left font-medium block md:table-cell">#</th>
                                    </tr>
                                </thead>
                                <tbody class="block md:table-row-group">
                                    <tr *ngFor="let item of cart"  class="bg-white border border-gray-200 md:border-none md:table-row">
                                        <td class="p-2 block md:table-cell">
                                            <input type="checkbox" [checked]="item.checked=='1'"  (change)="updateQty(item,1)">
                                        </td>
                                        <td class="p-2 block md:table-cell">
                                            <div class="flex items-center">
                                                <img [src]="item.product.image" alt="Product"
                                                    class="w-20 h-20 rounded mr-4">
                                                <div>
                                                    <h2 class="text-lg font-semibold">{{item.product.nama_product}}</h2>
                                                    <p class="text-gray-500">{{item.product.category.nama_category}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="p-2 block md:table-cell">
                                            <input type="number" [(ngModel)]='item.qty' (change)="updateQty_(item,1)" class="w-20">
                                        </td>
                                        <td class="p-2 block md:table-cell">{{item.product.harga}}</td>
                                        <td class="p-2 block md:table-cell">{{item.product.harga*item.qty}}</td>
                                        <td class="p-2 block md:table-cell text-red-500"><p class="cursor-pointer" (click)="hapus(item.id_cart)">hapus</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="w-4/12 m-3">
                    <div class="invoice">
                        <div class="flex flex-col w-full h-max p-3">
                            <div class="card-body w-full h-full relative rounded-xl shadow-md mr-5 border-gray-500">
                                <button class="btn" onclick="my_modal_2.showModal()">
                                    <div class="flex flex-row w-full h-auto items-center">
                                        <i class="pi pi-map-marker mx-3"></i>
                                        <p class="text-start p-3"> {{selectedAlamat}}</p>
                                    </div>
                                   
                                </button>
                                <dialog id="my_modal_2" class="modal w-full">
                                    <div class="modal-box w-11/12 max-w-5xl">
                                        <div class="grid grid-cols-2 gap-3 w-full">
                                            <div class="list-alamat w-full border h-full">
                                                <div class="flex flex-col w-full p-2 m-2">
                                                    <p class="text-lg">Alamat Saya</p>
                                                    <div *ngFor="let almt of alamat" (dblclick)="onDoubleClick($event,almt)"
                                                        class="card-list mt-2 w-full border flex p-3 items-center hover:bg-gray-400 cursor-pointer transition-all duration-100">
                                                        <i class="pi pi-map-marker mx-4 p-2"></i>
                                                        <p class="text-md font-semibold" id="alamat_lengkap">{{almt.nama_lengkap}}, {{almt.alamat_lengkap}}, provinsi {{almt.provinsi}}, kota {{almt.kota}}, no hp {{almt.no_hp}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="input-alamat w-full border h-full">
                                                <div class="flex flex-col w-full p-2 m-2">
                                                    <p class="text-lg">Tambah Alamat Baru</p>
                                                    <div class="flex flex-col w-full">

                                                        <div class="flex flex-row w-full items-center p-2 h-auto">
                                                            <div class="w-5/12">
                                                                <p class="text-lg">
                                                                    Nama Lengkap
                                                                </p>
                                                            </div>
                                                            <div class="w-7/12">
                                                                <div class="flex w-full">
                                                                    <input type="text" id="first_name"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        required />

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex flex-row w-full items-center p-2 h-auto">
                                                            <div class="w-5/12">
                                                                <p class="text-lg">
                                                                    No Telpon
                                                                </p>
                                                            </div>
                                                            <div class="w-7/12">
                                                                <div class="flex w-full">
                                                                    <input type="tel" id="phone"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        placeholder=""
                                                                        pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex flex-row w-full items-center p-2 h-auto">
                                                            <div class="w-5/12">
                                                                <p class="text-lg">
                                                                    Alamat Lengkap
                                                                </p>
                                                            </div>
                                                            <div class="w-7/12">
                                                                <div class="flex w-full">
                                                                    <textarea id="message" rows="4"
                                                                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                                                        placeholder="Write your thoughts here..."></textarea>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flex flex-row w-full items-center p-2 h-auto">
                                                            <div class="w-5/12">
                                                                <p class="text-lg">
                                                                    Provinsi
                                                                </p>
                                                            </div>
                                                            <div class="w-7/12">
                                                                <div class="flex w-full">
                                                                    <select (change)="handleChangeProvinsi($event)" [(ngModel)]="selectedProvinsi"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                        <option selected>Pilih Privovinsi</option>
                                                                        <option *ngFor="let prov of provinsi" [value]="prov.province_id">{{prov.province}}</option>
                                                                    </select>
                                                                </div>  
                                                            </div>
                                                        </div>
                                                        <div class="flex flex-row w-full items-center p-2 h-auto">
                                                            <div class="w-5/12">
                                                                <p class="text-lg">
                                                                    Kota
                                                                </p>
                                                            </div>
                                                            <div class="w-7/12">
                                                                <div class="flex w-full">
                                                                    <select id="countries"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                                        <option selected>Pilih Kota</option>
                                                                        <option *ngFor="let city of kota" [value]="city.city_id">{{city.city_name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div
                                                            class="flex flex-row w-full h-full items-center justify-end  p-3">
                                                            <button class="btn btn-success text-white mr-4">Tambah
                                                                Alamat +</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <form method="dialog" class="modal-backdrop">
                                        <button id="closeModal">close</button>
                                    </form>
                                </dialog>
                                <div class="grid grid-cols-1 w-full">
                                   
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Berat /Kg </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-bold text-xl ">
                                                <input type="number" (change)="handleChangeBerat($event)" [value]="berat" id="visitors" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="" required />
  
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Ekspedisi </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-semibold text-xl">
                                                <select id="countries" (change)="handleChangeEkspedisi($event)" [(ngModel)]="selectedEkspedisi"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <option selected>Pilih Ekspedisi</option>
                                                <option *ngFor="let ekspds of ekspedisi" [value]="ekspds.code">{{ekspds.description}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Pilih Paket Kirim </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-semibold text-xl">
                                                <select id="countries" (change)="handleChangePaketKirim($event)" [(ngModel)]="selectedPaketKirim"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <option selected>Pilih Paket Pengiriman</option>
                                                <option *ngFor="let package of paketPengiriman" [ngValue]="package">{{package.name}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Layanan Kirim </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-semibold text-xl">
                                                <select id="countries" (change)="handleChangeLayananKirim($event)" [(ngModel)]="selectedLayananKirim"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <option selected>Pilih Layanan Pengiriman</option>
                                                <option *ngFor="let ongkir of selectedPaketKirim.costs" [ngValue]="ongkir">{{ongkir.description}}</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Ongkos Kirim </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-semibold text-xl">
                                                <select id="countries" (change)="handleChangeOngkir()" [(ngModel)]="SelectedOngkir"
                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                                <option selected>--Ongkir--</option>
                                                <option *ngFor="let ongkir of selectedLayananKirim.cost" [ngValue]="ongkir">(Rp. {{ongkir.value}}) - {{ongkir.etd}} day</option>
                                            </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12">
                                            <p class="text-lg">Harga </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-bold text-xl">
                                                {{harga}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12 ">
                                            <p class="text-lg">Biaya Kirim </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-bold text-xl">
                                                {{biaya_kirim}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-row w-full items-center p-2 h-auto">
                                        <div class="w-5/12 ">
                                            <p class="text-lg">Total </p>
                                        </div>
                                        <div class="w-7/12">
                                            <div class="flex w-full justify-end font-bold text-xl">
                                                {{total}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-row mt-3 w-full h-auto items-center">
                                    <button (click)="handleClickBayar(total)"
                                        class="w-full rounded-sm border border-gray-500 h-16 hover:bg-gray-200 transtion-all duration-100">
                                        <p class="text-2xl ">Bayar</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="flex flex-row w-full">
            <app-footer></app-footer>
          </div>
        
    </div>

</app-layouts>