<app-layouts>
    <div class="flex flex-row mt-20 w-screen">
        <div class="container">
            <div class="flex flex-row w-screen gap-3 h-max border-b-gray-500">
                <div class="w-2/12">
                    <img src="../../../assets/images/profile.png" alt="">
                </div>
                <div class="w-10/12">
                    <div class="flex flex-row w-11/12 p-5 mt-10 mx-5  border shadow-lg shadow-gray-200 rounded-lg h-full">
                        <div class="flex flex-col w-full gap-3">
                            <div class="text-xl font-semibold ">My Order's</div>
                            <div class="card-order flex flex-col w-auto m-5 p-5 border border-gray-300 rounded-md gap-6">
                                <p class="text-lg font-semibold">ORDER NUMBER 93XXXX</p>
                                <p class="text-lg font-semibold">STATUS ORDER : DITERIMA</p>
                                <ol class="flex items-center w-full mt-3 m-5">
                                    <li class="flex w-full items-center text-white dark:text-blue-500 after:content-[''] after:w-full after:h-1 after:border-b after:border-green-200 after:border-4 after:inline-block dark:after:border-blue-800">
                                        <span class="flex items-center justify-center w-10 h-10 bg-green-300 rounded-full lg:h-20 lg:w-20 dark:bg-blue-800 shrink-0">
                                            <!-- <p>PACKING</p> -->
                                             <i class="pi pi-box"></i>
                                        </span>
                                    </li>
                                    <li class="flex w-full items-center text-white after:content-[''] after:w-full after:h-1 after:border-b after:border-gray-100 after:border-4 after:inline-block dark:after:border-gray-700 after:border-green-200">
                                        <span class="flex items-center justify-center w-10 h-10 bg-gray-100 bg-green-300 rounded-full lg:h-20 lg:w-20 dark:bg-gray-700 shrink-0">
                                            <!-- <p>DELIVERED</p> -->
                                             <i class="pi pi-truck"></i>
                                        </span>
                                    </li>
                                    <li class="flex items-center w-full text-white">
                                        <span class="flex items-center justify-center w-10 h-10 bg-gray-100 bg-green-300 rounded-full lg:h-20 lg:w-20 dark:bg-gray-700 shrink-0">
                                           <!-- <p>ARRIVAL</p> -->
                                           <i class="pi pi-check"></i>
                                        </span>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
           
        </div>
       
    </div>
  
    </app-layouts>