p {
    font-family: "Roboto", sans-serif;
}

@media (max-width: 768px) {
    .navbar {
      flex-direction: row;
    }
    .navbar p {
      display: inline;
    }
  }

  /* In your navbar.component.css */
.navbar i {
    font-size: 24px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar-content {
    padding: 1rem;
  }
  
  .sidebar-item {
    margin-bottom: 1rem;
  }
  
  .sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .sidebar.show {
    transform: translateX(0);
  }

  /* .img-bg{
    background-image: url('../../../assets/images/batik.jpeg');
    background-blend-mode: normal;
  } */

  .navbar {
     /* background: url('../../../assets/images/batik.jpeg'); 
    background-size: auto; This ensures the background image covers the entire navbar */
    z-index: 50;
  }
  
  .navbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(253, 253, 253, 0.7); /* White overlay with 70% opacity */
    z-index: -1; /* Place it behind the content */
  }

  .container {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem; */
  }

  .navbar.scrolled{
     background: rgba(255, 255, 255, 0.9);
  }

  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
  }
  
  .button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .svgIcon {
    width: 20px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(248, 176, 68);
    align-items: center;
  }
  
  .button:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .button::before {
    position: absolute;
    bottom: -20px;
    content: "Shop Now";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
  