<app-layouts>
    <div class="flex flex-col w-screen h-screen gap-2" @fadeIn>
        <div class="image-event flex justify-center w-full  mt-20 h-4/6 py-3">
            <img [src]="StateContentByGet.images" alt="" class="h-full w-8/12 text-center ">
        </div>
        <div class="flex flex-col w-full h-full gap-3 p-4 justify-center">
            <div class="judul">
                <p class="text-2xl md:text-4xl lg:text-5xl text-gray-600 text-center">
                   {{StateContentByGet.nama_event}}
                </p>
            </div>
            <div class="content flex justify-center">
                <p class="text-sm md:text-base lg:text-lg text-justify mx-20" >
                     <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat eos necessitatibus aliquam mollitia,
                    voluptatum cupiditate optio voluptas saepe, magnam obcaecati sint repudiandae placeat rem nisi
                    tempora nulla voluptates, ducimus ratione temporibus nostrum dolorem cum excepturi illum! Officia
                    sapiente quo incidunt amet suscipit fugiat laudantium sed vitae officiis dignissimos, ullam
                    repellendus eaque laborum facere ipsum minima, nihil, pariatur numquam? Labore ducimus inventore
                    fuga, quasi dolorem architecto provident. Ratione sint perferendis quidem aliquam nemo ut doloremque
                    nam sed incidunt, laboriosam, magnam eum beatae voluptates! Ut blanditiis fuga, sed beatae in earum
                    illo rerum doloribus nesciunt harum quae ad sit libero, odit quisquam.  -->
                     {{StateContentByGet.deskripsi}} 
                </p>
            </div>
            <div class="bottom mt-3 p-3 text-center">
                <button class="btn btn-neutral hover:scale-105 hover:shadow-md transition-all duration-150"
                    id="openModal" onclick="my_modal_2.showModal()">
                    Daftar Event Sekarang ...
                </button>
            </div>
        </div>

        <dialog id="my_modal_2" class="modal w-full">

            <div class="modal-box w-11/12 max-w-5xl">

                <div class="input-alamat w-full h-full mb-10">
                    <div class="flex flex-row w-full h-auto p-3 mb-12 justify-center">
                        <p class="text-lg text-gray-800 font-bold text-center">FORM PENDAFTARAN EVENT</p>
                    </div>
                    <div class="flex flex-col w-full items-center">
                        <form [formGroup]="FormInput" class="w-full max-w-lg">
                            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 w-full h-auto mb-10">
                                <div class="label flex justify-start md:justify-end">
                                    <label for="first_name" class="text-gray-700">Nama</label>
                                </div>
                                <div class="field flex">
                                    <input type="text" id="first_name" formControlName="nama_lengkap"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required />
                                </div>
                
                                <div class="label flex justify-start md:justify-end">
                                    <label for="phone" class="text-gray-700">No Telpon</label>
                                </div>
                                <div class="field flex">
                                    <input type="tel" id="phone" formControlName="no_hp" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                        required />
                                </div>
                
                                <div class="label flex justify-start md:justify-end">
                                    <label for="gender" class="text-gray-700">Gender</label>
                                </div>
                                <div class="field flex w-full">
                                    <p-dropdown 
                                    [options]="sex" 
                                    optionLabel="label" 
                                    [(ngModel)]="selectedSex"
                                    placeholder="Jenis Kelamin" 
                                    styleClass="p-input-sm w-full" 
                                    formControlName="gender"  />
                                </div>
                            </div>
                            <div class="flex flex-row w-full justify-end gap-3">
                                <p-button [label]="'Save'" (onClick)="handleSave(FormInput.value)" [icon]="'pi pi-save'" />
                                <p-button [label]="'Close'" styleClass="p-button-danger" (onClick)="handelClose()" [icon]="'pi pi-times'" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button id="closeModal">close</button>
            </form>
        </dialog>


        <app-footer></app-footer>
    </div>



    <div class="sidebar flex flex-row w-5/12  h-screen fixed top-0 right-0 justify-end mt-20 bg-white transition-all duration-500"
            *ngIf="layoutService.showSidebar$ | async">
            <div class="sidebar-content text-center justify-center">
                <div *ngFor="let nav of navbarMenu" class="sidebar-item  opacity-100">
                    <div class="flex flex-row w-full items-center">
                        <i [class]="nav.icon"></i>
                        <button (click)="handleClickSidbar(nav.label)"><p class="text-sm p-3 font-bold  opacity-100" >{{nav.label}}</p></button>
                    </div>
                    <div class="sidebar-child" *ngIf="nav.children">
                        <div class="flex flex-row w-full items-center" *ngFor="let data of nav.children">
                            <i [class]="data.icon"></i>
                            <button (click)="handleClickSidbar(data.label)"><p class="text-sm p-3 font-bold  opacity-100" >{{data.label}}</p></button>
                        </div>
                        </div>
                </div>
            </div>
        </div>
</app-layouts>